@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.container .row{
    width: 300px;
    height:60px;
    margin-bottom: 10px;
}
.container .row .col-3,
.container,.row,.col-9{
    padding: 0px;
    margin: 0;
}

.container .row .col-3 button,
.container .row .col-9 button{
    position: relative;
    top: 9px;
    width: 45px;
}

.container .row .col-9 button{
    width: 100%;
}
#result,#div,#mul,#minus,#plus{
    font-size: 20px;
    top:6px;
}

#TextValue{
    height: 40px;
    width: 90%;
    position: relative;
    top: 15px;
    left: 16px;
    border: none;
    outline: none;
    border-bottom:2px solid #999999;
    text-align: end;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: 2px ;
    color: #555;
    background: transparent;
}

.container p{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Cinzel', serif;
    text-align: end;
}

.container p a{
    color: coral;
    font-size: 30px;
}

.container p a:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.alert{
    font-size: 18px;
}


.container .heading{
    font-size: 3em;
    font-weight: 400;
    font-family: 'Parisienne', cursive;
    color: chocolate;
}